.wrapper {
  padding: 10px;
}
.wrapper::-webkit-scrollbar {
  background-color: black;
  width: 5px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(165, 165, 165);
  border-radius: 10px;
  width: 5px; /* Adjust the width as desired */
}

.wrapper::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0) !important;
  border-radius: 10px;
}
